<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Platos App</title>
  <!-- Agrega enlaces a Bootstrap y cualquier otro recurso necesario -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container">

  <h1 class="my-4">Platos App</h1>

  <!-- Lista de Platos -->
  <ul id="plato-list" class="list-group mb-4">
    <!-- Los platos se mostrarán aquí dinámicamente -->
  </ul>

  <!-- Formulario para Agregar un Nuevo Plato -->
  <form id="addPlatoForm" class="mb-4">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="calorias">Calorías:</label>
      <input type="number" id="calorias" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Plato</button>
  </form>

  <!-- Formulario para Consultar o Eliminar un Plato por ID -->
  <form id="consultPlatoForm" class="mb-4">
    <div class="form-group">
      <label for="consultId">ID del Plato:</label>
      <input type="text" id="consultId" class="form-control" required>
    </div>
    <button type="button" onclick="consultarPlato()" class="btn btn-info mr-2">Consultar Plato</button>
    <button type="button" onclick="eliminarPlato()" class="btn btn-danger">Eliminar Plato</button>
  </form>

  <!-- Script JS -->
  <script src="js/scripts.js"></script>
  <!-- Agrega enlaces a Bootstrap y cualquier otro recurso necesario -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
