<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Platos App</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container">

  <h1 class="my-4">Platos App</h1>


  <ul id="plato-list" class="list-group mb-4">
   
  </ul>


  <form id="addPlatoForm" class="mb-4">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="calorias">Calorías:</label>
      <input type="number" id="calorias" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Plato</button>
  </form>

  
  <form id="consultPlatoForm" class="mb-4">
    <div class="form-group">
      <label for="consultId">ID del Plato:</label>
      <input type="text" id="consultId" class="form-control" required>
    </div>
    <button type="button" onclick="consultarPlato()" class="btn btn-info mr-2">Consultar Plato</button>
    <button type="button" onclick="eliminarPlato()" class="btn btn-danger">Eliminar Plato</button>
  </form>

  
  <script src="js/scripts.js"></script>
 
 
</body>
</html>
